body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: #00ffcc;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

button {
    padding: 12px 20px;
    margin: 10px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
}

.game-box {
    border: 2px solid white;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}